body {
	margin: 0;
	padding: 0;
    height: 100vh;
    margin: 0;
    height: 100vh;
    background: linear-gradient(90deg, darkred, gray);
    background-size: 400% 400%;
    animation: gradientShift 6s ease infinite;
}
hr {
	border: solid 2px black;
}
body #main2 {
    background-image: url('planoDeFundo1.png');
    background-size: 500px;
    background-repeat: repeat;
    background-position: left 0 top 0px;
    margin: 6px;
    border: solid 7px black;
    padding: 4px;
}
body p {
	font-family: 'Roboto' , sans-serif;
}
h1, h2, h3, h4, summary {
	font-family: 'Merriweather' , serif;
}
header {
	display: flex;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	border: solid 3px black;
	padding: 0.5rem;
	border-radius: 4px;
	align-items: center;
	flex-direction: column;
}
.imageList {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
main > p {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	gap: 1rem;
	padding: 1rem;
	border-radius: 5px;
}
#Fernando {
	height: 150px;
	width: 150px;
	border: solid 2px black;
	border-radius: 4px;
}
figure {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#figure {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	padding: 2rem;
	border-radius: 5px;
}
#circuloUp {
	height: 180px;
	width: 180px;
}
#conhecimento {
	height: 130px;
	width: 130px;
}
#CadernoAnota {
	height: 150px;
	width: 150px;
}
#circulo {
	height: 150px;
	width: 150px;
}
#manias {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	padding: 1rem;
	border-radius: 3px;
}
h3 {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.6rem;
	border-radius: 4px;
}
h3 {
	font-weight: 0;
}
.stats {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.6rem;
	border-radius: 5px;
}
summary {
	font-weight: bold;
}
details {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.6rem;
	border-radius: 4px;
}
h5 {
	background-color: #000000;
	color: white;
	padding: 0.6rem;
	font-size: 16px;
	border: solid 2px black;
	border-radius: 5px;
}
#familia {
	height: 150px;
	width: 150px;
	border: solid 5px black;
	border-radius: 3px;
	margin-right: 10px;
}
#familiaTexto {
	display: flex;
	font-size: 14px;
}
#começo {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.6rem;
	border-radius: 5px;
}
.space {
	padding-left: 50px;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}